.text-secondary {
    color: #55BA53;
}

.text-center {
    text-align: center;
}

.bg-light {
    background: #cfcfcf;
}

.bg-secondary {
    background: #3ace5f;
}

.py-0 {
    padding: 16px 0;
}

.py-1 {
    padding: 24px 0;
}

.py-2 {
    padding: 32px 0;
}

.py-3 {
    padding: 48px 0;
}

.py-0 {
    padding: 16px;
}

.py-1 {
    padding: 24px;
}

.py-2 {
    padding: 32px;
}

.py-3 {
    padding: 48px;
}

.py-4 {
    padding: 1px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hot{
    height: 540px;
    margin-top: -10px;
}

.beg1 h1 {
    color: #0e5620 !important;
    font-size: 70px;
    /* margin: 10px 0;
    max-width: 800px;
    margin-top: 90%;
    padding: 0 95px;
    padding-top: 50px;
    width: auto;
    margin-left: -280px; */
    /* display: flex; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;

}

.beg2 h1 {
    color: #0e5620 !important;
    font-size: 70px;
    /* margin: 10px 0;
    max-width: 800px;
    margin-top: 90%;
    padding: 0 95px;
    padding-top: 50px;
    width: auto;
    margin-left: -280px; */
    /* display: flex; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;

}

.beg3 h1 {
    color: #0e5620 !important;
    font-size: 70px;
    /* margin: 10px 0;
    max-width: 800px;
    margin-top: 90%;
    padding: 0 95px;
    padding-top: 50px;
    width: auto;
    margin-left: -280px; */
    /* display: flex; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;

}

.beg1 h2 {
    color: #0a2940;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(233, 238, 239, 0.5);


}

.beg2 h2 {
    color: #0a2940;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(233, 238, 239, 0.5);

}

.beg3 h2 {
    color: #0a2940;
    animation: fadeIn 0.5s ease-in-out forwards;
    font-weight: 700;
    font-size: 40px;
    background-color: rgba(233, 238, 239, 0.5);


}

@keyframes fadeIn {
    from {
        opacity: 10;
        transform: translateX(-100px);
    }

    to {
        opacity: 10;
        transform: translateX(0);
    }
}
.lok {
    margin-top: 150px;
}

/* For iPhone XR, 11  */
@media screen and (min-width: 400px) and (max-width: 900px) {
    .lok {
        display: block;
        width: 99%;
        /* height: 90px; */
        margin-top: 1px;
        margin-left: 3px;
        margin-right: 3px;

    }

    .hot {
        width: 100%;
        height: 520px;

    }

    .beg1 h1 {
        /* margin-bottom: 50px; */
        margin: 2px 0;
        margin-left: 10px;
        font-size: 35px;
        font-weight: 800;
        /* max-width: 50px; */
    }

    .beg1 h2 {
        font-size: 20px;
    }

    .beg2 h1 {
        /* margin-bottom: 50px; */
        margin: 2px 0;
        margin-left: 10px;
        font-size: 30px;
        font-weight: 800;
        /* max-width: 50px; */
    }

    .beg2 h2 {
        font-size: 20px;
    }

    .beg3 h1 {
        /* margin-bottom: 50px; */
        margin: 2px 0;
        margin-left: 10px;
        font-size: 35px;
        font-weight: 800;
        /* max-width: 50px; */
    }

    .beg3 h2 {
        font-size: 20px;
    }
}