#blogzzz {
    background: #505b64;
    margin-top: 90px;
    /* margin: 40px; */
}

#blog .wrapperzzz {
    margin: 20px;
}

#blogzzz .wrapperzzz .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#blogzzz .wrapperzzz .header span {
    height: 1px;
    width: 4%;
    background: #95A2BB;
}

#blogzzz .wrapperzzz .header h4 {
    color: #95A2BB;
    padding-left: 15px;
    text-transform: uppercase;
}

#blogzzz .wrapperzzz .blog-infozzz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#blogzzz .wrapperzzz .blog-infozzz h2 {
    font-size: 40px;
    color: #95A2BB;
    font-weight: 600;
}

#blogzzz .wrapperzzz .blog-infozzz h2 span {
    font-weight: 500;
}

#blogzzz .wrapperzzz .blog-infozzz a {
    text-decoration: none;
    padding: 10px 20px;
    background: #3ac045;
    color: #0a2940;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #55BA53;
    border-radius: 50px;
    transition: all 0.5s ease;
}

#blogzzz .wrapperzzz .blog-infozzz a:hover {
    background: none;
    color: #95A2BB;
}

#blogzzz .wrapperzzz .blog-card {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

#blogzzz .wrapperzzz .card {
    margin: 10px 5px;
    background-color: #cfcfcf;
    border-radius: 50px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 370px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease;
}

#blogzzz .wrapperzzz .card:hover {
    transform: scale(1.05);
}

#blogzzz .wrapperzzz .card .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 50px;
    margin-bottom: 10px;
}

#blogzzz .wrapperzzz .card .card-body .tag {
    background: #ccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 30px;
    color: #fff;
    padding: 5px 10 px;
    text-transform: uppercase;
    cursor: pointer;
}

#blogzzz .wrapperzzz .card .card-body .tag-yellow {
    background-color: gray;
}

#blogzzz .wrapperzzz .card .card-body .tag-yellow {
    background-color: purple;
}

#blogzzz .wrapperzzz .card .card-body .tag-yellow {
    background-color: purple;
}

#blogzzz .wrapperzzz .card .card-body h4 {
    margin: 10px 30px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.4;
    color: #0A2940;
}

#blog .wrapper .card .card-body .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 2px 30px;
    border-top: 1px solid #536DAF;
    padding: 5px 0;
}

#blogzzz .wrapperzzz .card .card-body .footer small {
    color: #1A1B1E;
    font-weight: 600;
}

#blogzzz .wrapperzzz .card .card-body .footer a {
    padding: 5px 10px;
    background: #55BA53;
    border-radius: 4px;
    color: #0A2940;
}

/* #blog-infoo h2{
    background-color: white;
} */

@media screen and (max-width:769px) {
    #blogzzz .wrapperzzz .header {
        margin-left: -70px;
        margin-top: -10px;
    }

    #blogzzz .wrapperzzz .blog-infozzz {
        display: block;

        /* font-size: 20px; */
    }

    #blogzzz .wrapperzzz .blog-infozzz a {
        margin-left: 130px;
    }

    #blogzzz .wrapperzzz .blog-infozzz h2 {
        margin-bottom: 20px;
    }
}