* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.App {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 10px;
  margin-right: 30px;
  text-decoration: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.5s ease;
}

@media screen and (max-width:769px) {
  .App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width:100vw;
  }
}